In [1]:
numbers = [1,2,3,4,5]

In [3]:
print(numbers[1])

2

In [4]:
2 in numbers

True

In [5]:
6 in numbers

False

In [6]:
6 not in numbers

True

In [7]:
numbers.append(10)

In [8]:
numbers

[1, 2, 3, 4, 5, 10]

In [13]:
fruits = ['Apple', 'Banana', 'Orange', 'Banana']
fruits.remove('Banana') # remove method removes only the first occurence of a value in a list
print(fruits)

['Apple', 'Orange', 'Banana']